.main-banner {
    margin-top: -65px;
}

.contact {
    border-top-right-radius: 3rem;
}

#portafolio {
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

@media screen and (max-width: 800px) {
    .main-banner {
        margin-top: 0;
    }
}