.b-red {
    border: 2px solid red;
}

.b-blue {
    border: 2px solid blue;
}

.b-green {
    border: 2px solid green;
}

.main-banner {
    margin-top: -65px;
}

.contact {
    border-top-right-radius: 3rem;
}

#portafolio {
    border-top-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

@media screen and (max-width: 1024px) {
    .main-banner {
        position: relative;
        top: 60px;
        z-index: 10;
    }
}