.b-r {
    border: solid 2px red;
    /*     margin: 3px;
 */
}

.b-g {
    border: solid 2px rgb(63, 221, 116);
    /*     margin: 3px;
 */
}

.b-b {
    border: solid 2px rgb(104, 171, 235);
    margin: 3px;
}

.b-y {
    border: solid 2px rgb(225, 253, 66);
    margin: 3px;
}

.main-banner {
    width: auto;
    height: auto;
    margin-top: -185px;
}

.ab {
    width: 100%;
    height: 300px;
}